<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="./script.js" async></script>
</head>

<body>
    <header class="main-header">
        <nav class="nav">
            <ul>
                <li><a href="#sounds" class="active">Sounds</a></li>
                <li><a href="#train">Train</a></li>
            </ul>
        </nav>
    </header>
    <div class="record-section">
        <div id="upload-record">
            <button id="upload-btn" class="btn white-btn">Upload a file</button>
            <button id="record-btn" class="btn orange-btn">Record now</button>
        </div>
        <div id="time-stop">
            <span id="time">00:00</span>
            <button id="stop-btn" class="btn red-btn"></button>
        </div>
    </div>
    <div class="stop-recording-section">
        <div>
            <label class="checkbox-container">Automatically stop recording after
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>

            <input type="number" id="num-seconds" min="0" max="60" value="6">
            <label for="num-seconds">seconds</label>
        </div>
    </div>
    <div class="play-section">
        <div class="left-side">
            <span id="class-types">Class Types</span>

            <button id="add-class-btn" class="btn white-btn">Add Class</button>
            <input type="text" name="class" id="search-class" placeholder="search text">

            <div class="class-checkbox">
                <label class="checkbox-container">All
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <% data.classes.forEach(element=> { %>
                    <label class="checkbox-container">
                        <%= element %>
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                    </label>
                    <% }) %>
            </div>
        </div>

        <div class="right-side">
            <div class="title">
                <span>Name</span>
                <span>Class Type</span>
                <span>Date</span>
                <span>More</span>
            </div>

            <div class="tracks">
                <% data.tracks.forEach(element=> { %>
                    <div class="track">
                        <div class="play">
                            <span class="track-name">
                                <%= element.name %>
                            </span>
                            <i class="fa fa-play-circle"></i>
                            <span class="time">
                                <%= element.time %>
                            </span>
                        </div>
                        <div class="class-type-select">
                            <select name="classes">
                                <% data.classes.forEach(element=> { %>
                                    <option value="<%= element %>">
                                        <%= element %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="date">
                            <span>
                                <%= element.date %>
                            </span>
                        </div>
                        <div class="more">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>

    <div class="modal" id="add-class-modal">
        <button class="close-btn" id="close-modal-btn">&times;</button>
        <div class="wrapper">
            <h2>Class</h2>
            <div class="container">
                <label for="class-name">Name</label>
                <input type="text" id="class-name" name="className" placeholder="Class Name..">
                <button class="btn orange-btn" id="save-class-button">Save</button>
                <button class="btn white-btn" id="dismiss-class-button">Dismiss</button>
            </div>
        </div>
    </div>

    <div class="modal" id="save-recording-modal">
        <button class="close-btn" id="close-modal-btn-2">&times;</button>
        <div class="wrapper">
            <h2>Save recorded sound</h2>
            <div class="container">
                <label for="recording-name">Name</label>
                <input type="text" id="recording-name" name="recordingName" placeholder="recording name..">
                <label for="recording-name">Class type</label>
                <select id="recording-class" name="classes">
                    <% data.classes.forEach(element=> { %>
                        <option value="<%= element %>">
                            <%= element %>
                        </option>
                        <% }) %>
                </select>
                <button class="btn white-btn" id="save-and-stop-btn">Save & Stop</button>
                <button class="btn orange-btn" id="save-and-continue-btn">Save & Continue</button>
            </div>
        </div>
    </div>
</body>

</html>